@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  /* background-image: url(asstes/cinema-elements.jpg); */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  font-family: "Open Sans Light Italic", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}
